--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.0+cpu
torchvision==0.20.0+cpu      # matches torch 2.5.0
torchaudio==2.5.0+cpu

whisperx==3.4.2
faster-whisper==1.1.1
pyannote.audio==3.3.2
pyannote.pipeline==3.0.1
gradio==5.35.0

transformers
sentencepiece
accelerate
bitsandbytes
torchmetrics
emoji
ollama-python

numpy
setuptools
pytest
pytest-cov
