name: tests+nolayer-smoke

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]

jobs:
  unit-and-ui-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    services:
      docker:
        image: docker:24.0.9-dind
        options: --privileged
        env:
          DOCKER_TLS_CERTDIR: "/certs"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Run lint and tests
        env:
          CI: 'true'
        run: scripts/ci.sh
      - name: Upload htmlcov artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: htmlcov
          path: htmlcov/
